@model CrudMVCByKING.Models.DTOs.UserProfileViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-[35px] mt-3 ">Welcome    @Model.UserName to Admin Panel By Abdurashid</h1>
</div>
